.cloud-container{
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    overflow: hidden;
}

.cloud-title{
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
    font-family: '微软雅黑';
}

.nav-body{padding: 0px 20px;}
.nav-body i{margin-right: 5px;}