body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button{background: #fff;border: 1px solid #999;margin-left: 10px;padding:5px 10px;border-radius: 5px;cursor: pointer;}
input{margin-top: 10px;}
button.action{background: #5DACD9;color:#fff;border: none;}